<!DOCTYPE html>
<html lang="en">
 
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<meta charset="utf-8">
    <meta name="viewport" content="width:device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>File Uploading</title>
</head>
 
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="width: 100%;">
    <a class="navbar-brand" href="#" style="font-family: 'Akaya Kanadaka', cursive;">TW</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/template">HTML Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">ADD_YOUR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Learn HTML</a>
      </li>
    </ul>
  </nav>
    
    <div class="container p-3 my-3" style="margin-left: 15%;margin-top:30%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: #e0e0eb;">
        <h3 style="text-align: left;">Send Your Creativity</h3>
        <div class="container p-3 my-3" style="background-color: #f0f0f5;">
        <form action="/milgaya" method="POST" enctype="multipart/form-data" class="was-validated">
            <div class="form-group">
                <label for="name">Your Valid E-mail : </label>
                <input  class='form-control' type="email" id="name" placeholder="Name"
                       value="" name="name" required>
                       <div class="valid-feedback">ok.</div>
                       <div class="invalid-feedback">please enter valid email. </div>

            </div>
            <div class="form-group">
                <label for="desc">Type: </label>
                <textarea class="form-control" id="desc" name="pesc" value="" rows="2"
                          placeholder="Description" required>
                </textarea>
                <div class="valid-feedback">ok.</div>
                       <div class="invalid-feedback">please enter in this field</div>
            </div>
            <div class="form-group">
                <label for="image">Upload File .html / .zip(if css is in another file) :<a style="color:green;">Rename your file with your name ( firstname_lastname.html )</a> </label>
                <input class ="form-control" type="file" id="image"
                       name="image" value=""  required>
                       <div class="valid-feedback">ok.</div>
                       <div class="invalid-feedback">please enter in this field</div>
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
    </div>
 
   
 
    <a class="btn btn-dark" style="margin-left: 80%;" href="mailto:template@gmail.com?subject=..<Please%20Enter%20Suitable%20Heading>..&body=please%20DESCRIBE%20about%20template%20in%20Brief%20ALSO%20SEND%20FILE%20AS%20ATTACHMENT%20after%20also%20add%20your%20name">Email_Your_CREATIVITY</a>
    
</body>
 
</html>